@-webkit-keyframes flare {
  0% { left: -30px; margin-left: 0px; }
  30% { left: 110%; margin-left: 80px; }
  100% { left: 110%; margin-left: 80px; }
}

@keyframes wave {
  0% {
    box-shadow:0 8px 10px rgba(227, 47, 54,0.3),0 0 0 0 rgba(227, 47, 54,0.2),0 0 0 0 rgba(227, 47, 54,0.2)
  }
  40% {
    box-shadow:0 8px 10px rgba(227, 47, 54,0.3),0 0 0 15px rgba(227, 47, 54,0.2),0 0 0 0 rgba(227, 47, 54,0.2)
  }
  80% {
    box-shadow:0 8px 10px rgba(227, 47, 54,0.3),0 0 0 30px rgba(227, 47, 54,0),0 0 0 26.7px rgba(227, 47, 54,0.067)
  }
  100% {
    box-shadow:0 8px 10px rgba(227, 47, 54,0.3),0 0 0 30px rgba(227, 47, 54,0),0 0 0 40px rgba(227, 47, 54,0.0)
  }
}
@keyframes shake {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
