.footer-contacts {
  display: flex;
  align-items: center;
  margin-top: 4%;
  & a {
    color: #404041;
  }
  &__contact {
    font-size: 30px;
    font-family: GothamPro;
    & a {
      color: #404041;
    }
  }
  &__icon-container {
    margin-right: 5%;
  }
}
footer {
  & .red-button {
    width: 100%;
  }
}