.gray-text {
  font-family: GothamPro;
  font-size: 25px;
  margin-bottom: 0;
  color: #404041;
}

.big-text {
  text-transform: uppercase;
}

.red-button {
  background-color: #ed1c24 !important;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  font-family: GothamPro;
  padding-top: 1.3%;
  border-radius: 15px;
  border: none;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 0 10px 20px rgba(237, 28, 36, 0.4);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  &:after {
    content: "";
    width: 25px;
    height: 150px;
    margin-left: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.7) 100%);
    position: absolute;
    z-index: 2;
    transform: rotate(25deg);
    transition: all 0.1s;
    margin-top: -15%;
    left: -10%;
    animation-name: flare;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  & input {
    background-color: rgba(237, 28, 36, 0);
    border: none;
    color: white;
    margin-top: -1%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #ed1c24;
  }
  &:hover input {
    color: #ed1c24;
  }

  &_padding {
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    &-none {
      padding-left: 0 !important;
    }
  }
}

header .red-button {
  padding-top: 0.8%;
  height: 55px;
}

.contacts {
  &__mail {
    font-size: 22px;
  }
}
.logo svg {
  width: 141px;
  height: 71px;
}