@media screen and (max-width: 1905px) {
  .cases {
    height: 900px;
  }
}
@media screen and (max-width: 1872px) {
  .red-bg .big-img {
    bottom: 115%;
  }
  .icon_padding-bot {
    padding-bottom: 12%;
  }
  .cases {
    height: 850px;
  }
}

@media screen and (max-width: 1730px) {
  .red-bg .big-img {
    left: 3%;
    bottom: 105%;
  }
  .big-text {
    font-size: 22px;
  }
  h1 {
    font-size: 68px;
  }
  .offer {
    &__red-text {
      font-size: 22px;
    }

    &__group .red-button {
      font-size: 14px;
    }

    &__big-text {
      font-size: 22px;
    }
    .red-button {
      padding-top: 3%;
    }
  }
  .icon {
    &__text {
      font-size: 14px;
    }
  }
  .row {
    padding-left: 3%;
    padding-right: 3%;
  }
  .slide {
    width: 65%;
  }
  .owl-nav {
    width: 65%;
    left: 15%;
  }
  .cases {
    height: 800px;
  }
}

@media screen and (max-width: 1615px) {
  .red-bg .big-img {
    left: 2%;
  }
  .row {
    padding-left: 2%;
    padding-right: 2%;
  }
  .icon_padding-bot {
    padding-bottom: 10%;
  }
  .red-bg .big-img {
    bottom: 90%;
  }
  .offer__group .red-button {
    padding-top: 3.5%;
  }
  .blind {
    width: 94%;
  }
}

@media screen and (max-width: 1583px) {
  .red-bg .big-img {
    left: 2%;
  }
  .red-button_compress {
    padding-top: 1%;
  }
  .icon__text {
    font-size: 12px;
  }
  .blind__title {
    width: 60%;
  }
  .icon_padding {
    padding-top: 14%;
  }
  .modal-window {
    width: 40%;
    left: 30%;
  }
  .offer__container {
    width: 60%;
  }
  .icon_padding-bot {
    padding-bottom: 7%;
  }
  .red-bg .big-img {
    bottom: 85%;
  }
  .slide {
    width: 70%;
  }
  .owl-nav {
    width: 70%;
    left: 12.5%;
  }
}

@media screen and (max-width: 1440px) {
  .footer-contacts__contact {
    font-size: 26px;
  }
  .gray-text {
    font-size: 24px;
  }
  .big-text {
    font-size: 20px;
  }
  .red-button_compress {
    font-size: 16px;
  }
  .red-button_compress {
    padding-top: 0.8%;
  }
  .row_center .red-button {
    font-size: 16px;
  }
  .row_padding .form_white-bg {
    align-items: center;
  }
  .very-big__title {
    font-size: 108px;
  }
  .team {
    &__name {
      font-size: 16px;
    }
  }
  .offer {
    &__container {
      width: 65%;
    }
  }
  .gray-text {
    font-size: 18px;
  }
  .icon_padding-bot {
    padding-bottom: 5%;
  }
  .red-bg .big-img {
    bottom: 75%;
  }
  .slide {
    width: 75%;
  }
  .owl-nav {
    width: 75%;
    left: 10.5%;
  }
  .very-big__h3 {
    padding-left: 35%;

  }
  header .red-button {
    padding-top: 0.9%;
    height: 55px;
  }
  .blind {
    &__col {
      font-size: 18px;
    }

    &__link {
      margin-top: 5%;
    }
  }
}

@media screen and (max-width: 1366px) {
  .team {
    &__name {
      font-size: 14px;
    }

    &__position {
      font-size: 16px;
      height: 13.3%;
    }
  }
  .icon__img {
    width: 41px;
    height: auto;
  }
  .icon_padding-bot {
    padding-bottom: 2%;
  }
  .red-bg .big-img {
    left: 1%;
    padding-left: 3%;
  }
  .red-bg .big-img img {
    width: 85%;
  }
  .red-bg_height-300 {
    height: 250px;
  }

  .tile__img {
    height: 200px;
    width: auto;
  }
  .owl-prev {
    height: 40px !important;
    width: 40px !important;
  }
  .owl-next {
    height: 40px !important;
    width: 40px !important;
  }
  .slide {
    &__text {
      font-size: 16px;
    }

    &__title {
      font-size: 18px;
    }

    &__price {
      font-size: 28px;
    }

    &__img {
      width: auto !important;
      height: 500px;
      margin: 0 auto;
      margin-top: -15%;
    }

    &__couple {
      margin-bottom: 0;
    }
  }
  .blind {
    width: 93.5%;
  }
  h1 {
    font-size: 66px;
  }
  .blind {
    &__title {
      width: 65%;
    }

    &__col {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
  }
  .text {
    &__big {
      font-size: 16px;
    }

    &__simple {
      font-size: 16px;
    }

    .red-button {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
  .red-button {
    font-size: 16px;
  }
  th {
    font-size: 18px;

    &:first-child {
      font-size: 42px;
    }
  }
  td {
    font-size: 16px;
  }
  .table-custom {
    &__total {
      font-size: 18px;
    }

    &__price {
      font-size: 26px;
    }

    &__dot {
      height: 10px;
      width: 10px;
    }
  }
  .number__val {
    font-size: 82px;
  }
  .very-big {
    &__title {
      font-size: 92px;
      margin-bottom: 3%;
    }
  }

  .slide-two {
    &__item {
      width: 200px !important;
      height: auto !important;
    }
  }
  header .red-button {
    padding-top: 1%;
    height: 55px;
  }
}

@media screen and (max-width: 1280px) {
  .offer__container {
    width: 70%;
  }
  .icon__text {
    font-size: 10px;
  }
  .offer__group {
    padding-bottom: 24%;
  }
  .big-text {
    font-size: 16px;
  }
  .red-button_compress {
    font-size: 14px;
  }
  .red-bg .big-img {
    bottom: 60%;
  }
  .blind {
    width: 93%;

    &__title {
      width: 70%;
    }
  }
  .footer-contacts__contact {
    font-size: 24px;
  }
  .modal-window {
    width: 45%;
    left: 27%;
  }
  header .red-button {
    padding-top: 1%;
    height: 55px;
  }
}

@media screen and (max-width: 1230px) {
  .offer__container {
    width: 75%;
  }
  .offer__group {
    padding-bottom: 18%;
  }
  .icon__text {
    font-size: 8px;
  }
  .red-bg_height-300 {
    height: 225px;
  }
  .row_center .red-button {
    font-size: 14px;
  }
  .list .red-button {
    font-size: 14px;
  }
  .team {

  }
  .team {
    &__name {
      font-size: 12px;
    }
  }
  .footer-contacts__contact {
    font-size: 22px;
  }
  footer {
    padding-bottom: 2%;
  }
  .modal-window {
    width: 50%;
    left: 26%;
  }
  .blind {
    width: 92%;

    &__title {
      width: 75%;
    }

    &__col {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 117px;
    height: 61px;
  }
  .gray-text {
    font-size: 14px;
  }
  header .red-button {
    padding-top: 1.7%;
  }
  .gray-text:nth-child(2) {
    margin-top: 5%;
  }
  .offer {
    &__red-text {
      font-size: 16px;
    }

    &__container {
      width: 100%;
    }
  }
  h1 {
    font-size: 46px;
  }
  .row {
    padding-left: 1%;
    padding-right: 2%;
  }
  .form {
    &__col {
      & .red-button {
        padding-top: 1%;
      }

      &_wide {
        flex-basis: 95%;
      }
    }

    &__text {
      font-size: 14px;
    }

    &_big-brd-rd {
      border-radius: 50px;
      padding-left: 10%;
      padding-right: 10%;
    }

    &_gray-bg {
      padding-right: 2%;
      padding-left: 2%;
      padding-top: 2%;
    }

    &__input {
      margin-top: 5%;
      margin-bottom: 0;
      padding-left: 0;

      &_white {
        &::placeholder {
          text-align: center;
        }
      }
    }

    &__title {
      text-align: center;
      font-size: 14px;
    }

    &__little-text {
      display: inline;
    }
  }
  .offer {
    &__group {
      display: block;
      width: 85%;
    }

    &__big-text {
      width: 70%;
    }

    & .red-button {
      height: 48px;
      margin-top: 5%;
    }
  }
  .red-button[type="submit"] {
    margin-top: 8%;
  }
  body {
    background-image: url("../img/pink-bg-ipad.png");
  }
  .icon_padding-bot {
    padding-bottom: 6.6%;
  }
  .red-bg .big-img {
    bottom: 15%;
  }
  .icon {
    &_padding {
      padding-top: 19%;
    }

    &__img {
      width: 53px;

      &_doc {
        width: 42px;
        height: auto;
      }
    }

    &__text {
      font-size: 12px;
    }
  }
  .slide {
    width: 100%;
  }
  .owl {
    &-next {
      height: 54px !important;
      width: 54px !important;
    }

    &-prev {
      height: 54px !important;
      width: 54px !important;
    }

    &-nav {
      width: 91%;
      left: 0;
    }

    &-dots {
      top: 91%;
    }
  }
  .slide__col:nth-child(1) {
    margin-right: 4%;
  }
  .slide {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 7%;

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
    }

    &__mini-title {
      font-size: 14px;
    }

    &__price {
      font-size: 24px;
    }

    &__img {
      width: 100% !important;
      height: auto;
    }
  }
  .row_center .red-button {
    font-size: 16px;
    height: 48px;
    padding-top: 1.5%;
  }
  h2 {
    font-size: 24px;
  }
  .square {
    &__text {
      font-size: 12px;
    }
  }
  .blind {
    width: 88%;

    &__title {
      font-size: 12px;
    }

    &__col {
      font-size: 9px;
    }

    &__link {
      font-size: 10px;
      padding-top: 0;
    }
  }
  .icon__text_font-size-18 {
    font-size: 14px;
  }
  .form__title_red {
    margin-top: 10%;
  }
  h3 {
    font-size: 24px;
  }
  .text {
    &__big {
      font-size: 14px;
    }

    &__simple {
      font-size: 14px;
    }
  }
  .text .red-button {
    padding-bottom: 4%;
    padding-top: 4%;
  }
  th:first-child {
    font-size: 24px;
  }
  td {
    font-size: 14px;

    &:first-child {
      font-size: 14px;
    }
  }
  .table {
    &-custom__big_bold {
      font-size: 18px !important;
    }

    &-custom__total {
      font-size: 20px !important;
    }

    &-custom__price {
      font-size: 18px;
    }
  }
  table {
    width: 100%;
  }
  .number {
    margin-right: 3%;

    &__text {
      font-size: 14px;
    }
  }
  .very-big {
    padding-right: 3%;

    &__title {
      font-size: 56px;
    }

    &__h3 {
      padding-left: 0;
    }
  }
  .list {
    padding-left: 3%;

    &__title {
      font-size: 18px;
    }

    li {
      font-size: 14px;
    }

    .red-button {
      width: 75%;
      padding-top: 5%;
      padding-bottom: 5%;
      font-size: 16px;
    }
  }
  .team {
    &__foto {
      width: auto;
      height: 60%;
    }
  }
  .red-bg_team {
    height: 324px;
  }
  .slide-two {
    padding-left: 10%;
    padding-right: 10%;

    & .owl-nav {
      width: 93%;
      left: 0;
    }

    &__item {
      width: 232px !important;
    }
  }
  .review {
    &_center {
      display: flex;
      justify-content: center;
    }

    &_hide {
      display: none;
    }

    &__img_left {
      float: none;
    }

    &__img {
      padding-bottom: 5%;
    }

    &_padding-top {
      padding-top: 0;
    }
  }
  .menstruation-bg-2 {
    background-size: cover;
  }
  .footer-contacts__contact {
    font-size: 30px;
  }
  footer {
    padding-bottom: 5%;
    & h2 {
      font-size: 19px;
      margin-top: 7%;
    }

    & .form {
      &__mini-text {
        width: 50%;
        margin-top: 3%;
      }
      &__row {
        margin-bottom: 0;
        width: 90%;
        &:last-child {
          padding-right: 0;
        }

        & .form__input:nth-child(2) {
          margin-left: 2%;
        }
      }
      &__input {
        margin-top: 2%;
      }
    }

    & .red-button[type="submit"] {
      margin-top: 2%;
      margin-left: 2%;
      border-radius: 10px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 320px) {
  .logo__img {
    width: 75px;
    height: 40px;
  }
  header .red-button {
    padding-top: 0.9%;
  }
  .gray-text {
    font-size: 12px;
  }
  .contacts {
    &__mail {
      font-size: 14px;
    }

    &__number {
      font-size: 16px;
    }
  }
  .time {
    display: flex;
  }

}

@media screen and (max-height: 768px) {
  .modal-window {
    top: 10%;
  }
}


