@media screen and (max-width: 1905px) {
  .cases {
    height: 900px;
  }
}

@media screen and (max-width: 1872px) {
  .red-bg .big-img {
    bottom: 115%;
  }
  .icon_padding-bot {
    padding-bottom: 11%;
  }
  .cases {
    height: 870px;
  }
}

@media screen and (max-width: 1730px) {
  .red-bg .big-img {
    left: 3%;
    bottom: 105%;
  }
  .big-text {
    font-size: 22px;
  }
  h1 {
    font-size: 68px;
  }
  .offer {
    &__red-text {
      font-size: 22px;
    }

    &__group .red-button {
      font-size: 14px;
    }

    &__big-text {
      font-size: 22px;
    }

    .red-button {
      padding-top: 3%;
    }
  }
  .icon {

    &_padding-bot {
      padding-bottom: 8%;
    }
  }
  .row {
    padding-left: 3%;
    padding-right: 3%;
  }
  .slide {
    width: 65%;
  }
  .owl-nav {
    width: 65%;
    left: 15%;
  }
  .cases {
    height: 800px;
  }
  .square__shadow {
    width: 94.3%;
  }
  .blind {
    width: 94.3%;
    &__title {
      width: 70%;
    }
  }
}

@media screen and (max-width: 1615px) {
  .red-bg .big-img {
    left: 2%;
  }
  .row {
    padding-left: 2%;
    padding-right: 2%;
  }
  .icon_padding-bot {
    padding-bottom: 8%;
  }
  .red-bg .big-img {
    bottom: 90%;
  }
  .offer__group .red-button {
    padding-top: 3.5%;
  }
  .blind {
    width: 94.3%;
  }
}

@media screen and (max-width: 1600px) {
  header .red-button {
    padding-top: 1%;
  }
  .icon_padding {
    padding-top: 12%;
  }
  .blind {
    width: 94.3%;
  }
  .slide {
    height: 1000px;
    width: 70%;
  }
  .owl-nav {
    width: 70%;
    left: 12.5%;
  }
  .offer__group {
    padding-bottom: 20%;
  }
  .row_center .red-button {
    flex-basis: 20%;
  }
  .form__row .red-button {

  }
}

@media screen and (max-width: 1583px) {
  .red-bg .big-img {
    left: 2%;
  }
  .red-button_compress {
    padding-top: 1%;
  }
  .icon {

    &_padding {
      padding-top: 14%;

      &-bot {
        padding-bottom: 7%;
        & .icon__text {
          font-size: 14px;
        }
      }
    }
  }
  .modal-window {
    width: 40%;
    left: 30%;
  }
  .offer__container {
    width: 60%;
  }
  .red-bg .big-img {
    bottom: 85%;
  }
  .slide {
    width: 70%;
  }
  .owl-nav {
    width: 70%;
    left: 12.5%;
  }
  .cases {
    height: 770px;
  }
}
@media screen and (max-width: 1560px) {
  .blind {
    padding-top: 3.5%;
    &__title {
      width: 75%;
    }
  }
}

@media screen and (max-width: 1536px) {
  .cases {
    height: 750px;
  }
  .icon_padding-bot {
    padding-bottom: 6%;
  }
  .square__shadow {
    width: 94%;
  }
  .blind {
    width: 94%;

    &__link {
      margin-top: 5%;
    }
  }
  .slide__title_bot-border {
    width: 106%;
    left: -3%;
  }
}

@media screen and (max-width: 1440px) {
  .footer-contacts__contact {
    font-size: 26px;
  }
  .gray-text {
    font-size: 24px;
  }
  .big-text {
    font-size: 20px;
  }
  .red-button_compress {
    font-size: 16px;
    padding-top: 0.8%;
  }
  .row_center .red-button {
    font-size: 16px;
  }
  .row_padding .form_white-bg {
    align-items: center;
  }
  .very-big__title {
    font-size: 108px;
  }
  .team {
    &__name {
      font-size: 16px;
    }

    &__position {
      height: 16%;
    }
  }
  .offer {
    &__container {
      width: 65%;
    }
  }
  .gray-text {
    font-size: 18px;
  }
  .icon_padding-bot {
    padding-bottom: 3%;
  }
  .red-bg .big-img {
    bottom: 75%;
  }
  .slide {
    width: 75%;
  }
  .owl-nav {
    width: 75%;
    left: 10.5%;
  }
  .very-big__h3 {
    padding-left: 35%;

  }
  header .red-button {
    padding-top: 0.9%;
    height: 55px;
  }
  .blind {
    width: 93.5%;

    &__col {
      font-size: 18px;
    }

    &__link {
      margin-top: 5%;
    }
    &__title {
      width: 80%;
    }
  }
  .cases {
    height: 700px;
  }
  .owl-nav {
    left: 9.8%;
  }
  .square {
    &__shadow {
      width: 93.5%;
    }
    &__text {
      font-size: 22px;
    }
  }
  .red-button:after {
    margin-top: -20%;
  }
}

@media screen and (max-width: 1366px) {
  .team {
    &__name {
      font-size: 14px;
    }

    &__position {
      font-size: 16px;
      height: 13.3%;
    }
  }
  .icon {
    &__img {
      width: 41px;
      height: auto;
    }
    &__text {
      font-size: 14px;
    }

    &_padding-bot {
      padding-bottom: 0;
    }
  }
  .red-bg {
    & .big-img {
      left: 1%;
      padding-left: 3%;
    }
    & .big-img img {
      width: 85%;
    }
  }
  .red-bg_height-300 {
    height: 250px;
  }

  .tile__img {
    height: 200px;
    width: auto;
  }
  .owl-prev {
    height: 40px !important;
    width: 40px !important;
  }
  .owl-next {
    height: 40px !important;
    width: 40px !important;
  }
  .owl-nav {
    left: 10.6%;
  }
  .slide {
    height: 850px;

    &__text {
      font-size: 16px;
    }

    &__title {
      font-size: 18px;
      &_bot-border {
        width: 105.6%;
        left: -2.8%;
      }
    }

    &__price {
      font-size: 28px;
    }

    &__img {
      width: auto !important;
      height: 500px;
      margin: 0 auto;
    }

    &__couple {
      margin-bottom: 0;
    }
  }
  h1 {
    font-size: 66px;
  }
  .blind {
    width: 93.4%;

    &__title {
      width: 85%;
    }

    &__col {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 28px;
  }
  .text {
    &__big {
      font-size: 16px;
    }

    &__simple {
      font-size: 16px;
    }

    .red-button {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
  .red-button {
    font-size: 16px;
  }
  th {
    font-size: 18px;

    &:first-child {
      font-size: 42px;
    }
  }
  td {
    font-size: 16px;
  }
  .table-custom {
    &__total {
      font-size: 18px;
    }

    &__price {
      font-size: 26px;
    }

    &__dot {
      height: 10px;
      width: 10px;
    }
  }
  .number__val {
    font-size: 82px;
  }
  .very-big {
    &__title {
      font-size: 92px;
      margin-bottom: 3%;
    }
  }
  header .red-button {
    padding-top: 1%;
    height: 55px;
  }
  .cases {
    height: 650px;
  }
  .team__position {
    height: 13.5%;
  }
  .square {
    &__shadow {
      width: 93.4%;
    }
    &__text {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1360px) {
  .offer__big-text {
    padding-top: 12%;
  }
  .offer__group {
    padding-bottom: 25%;
  }
  .icon_padding-bot {
    & .icon__text {
      font-size: 12px;
    }
  }
  header {
    padding-bottom: 8%;
  }
}
@media screen and (max-width: 1318px) {
  .offer {
    &__container {
      width: 70%;
    }
  }
  .cases {
    height: 630px;
  }
  .blind {
    width: 93%;
    &__title {
      width: 90%;
    }
  }
  .square__shadow {
    width: 93%;
  }
}

@media screen and (max-width: 1280px) {
  .offer {

    &__group {
      padding-bottom: 24%;
    }

    &__big-text {
      padding-top: 11%;
    }
  }
  .big-text {
    font-size: 16px;
  }
  .red-button_compress {
    font-size: 14px;
  }
  .red-bg .big-img {
    bottom: 60%;
  }
  .blind {
    width: 93%;
    padding-top: 4%;
  }
  .footer-contacts__contact {
    font-size: 24px;
  }
  .modal-window {
    width: 45%;
    left: 27%;
  }
  header .red-button {
    padding-top: 1%;
    height: 55px;
  }
  .cases {
    height: 600px;
  }
  .square__shadow {
    width: 93%;
  }
  .team__position {
    height: 13.5%;
  }
  .list .red-button {
    width: 40%;
  }
  header {
    padding-bottom: 6%;
  }
}

@media screen and (max-width: 1232px) {
  .offer {
    &__container {
      width: 75%;
    }

    &__group {
      padding-bottom: 18%;

      & .red-button {
        padding-top: 3%;
      }
    }

    &__big-text {
      padding-top: 10%;
    }
  }
  .red-bg_height-300 {
    height: 225px;
  }

  .list .red-button {
    font-size: 14px;
  }
  .team {
    &__name {
      font-size: 12px;
    }

    &__position {
      height: 13.6%;
    }
  }
  .footer-contacts__contact {
    font-size: 22px;
  }
  footer {
    padding-bottom: 2%;
  }
  .modal-window {
    width: 50%;
    left: 26%;
  }
  .blind {
    width: 92.5%;

    &__title {
      width: 95%;
    }

    &__col {
      font-size: 14px;
    }
  }
  header .red-button {
    padding-top: 1.2%;
  }
  .slide {
    width: 80%;
  }
  .owl-nav {
    width: 80%;
    left: 8%;
  }
  .cases {
    height: 580px;
  }
  .square__shadow {
    width: 92.5%;
  }
  .offer__container {
    width: 90%;
  }
}
@media screen and (max-width: 1194px) {
  header {
    padding-bottom: 3%;
  }
  .red-bg .big-img {
    bottom: 30%;
  }
  .offer__group .red-button {
    padding-top: 3.5%;
  }
  .blind__title {
    width: 100%;
  }
}

@media screen and (max-width: 1136px) {
  header {
    padding-bottom: 2%;
  }
  .slide {
    width: 85%;
  }
  .owl-nav {
    width: 85%;
    left: 5.3%;
  }
  .blind {
    width: 92%;

    &__title {
      font-size: 22px;
    }
  }
  .red-bg .big-img img {
    width: 100%;
  }
  .red-bg .big-img {
    bottom: 30%;
  }
  .h2_padding-top {
    padding-top: 10%;
  }
  .square__shadow {
    width: 92%;
  }
  .cases {
    height: 550px;
  }
  .offer__group {
    & .red-button {
      padding-top: 3.5%;
    }
  }
  .team {
    &__foto {
      height: 60%;
      width: auto;
    }

    &__position {
      font-size: 14px;
      height: 25.7%;
    }
  }
  .row_center .red-button {
    flex-basis: 20%;
  }
  .red-button:after {
    margin-top: -20%;
    height: 200px;
  }
  .form__row:last-child {
    padding-right: 0;
    margin-right: -1%;
    & .form__mini-text {
      flex-basis: 50%;
    }
  }
  .square__text {
    font-size: 16px;
  }
}


@media screen and (max-width: 1125px) {
  header {
    padding-bottom: 1%;
  }
  .team__position {
    height: 25.6%;
  }
  .blind__link {
    width: 60%;
  }
  .cases {
    height: 540px;
  }
}
@media screen and (max-width: 1102px) {
  .gray-text {
    font-size: 16px;
  }
  .offer__red-text {
    font-size: 18px;
  }
  .form__title {
    font-size: 16px;
  }
  .cases {
    height: 530px;
  }
  .very-big__title {
    font-size: 82px;
  }
}

@media screen and (max-width: 1080px) {
  .offer__container {
    width: 95%;
  }
  .gray-text {
    font-size: 16px;
  }
  .blind {

    &__col {
      font-size: 12px;
    }

    &__link {
      width: 65%;
    }
  }
  .cases {
    height: 510px;
  }
  .very-big__title {
    font-size: 82px;
  }
  .square {
    &__shadow {
      width: 91.5%;
    }
  }
  .blind {
    width: 91.5%;
  }
  .very-big__h3 {
    padding-left: 30%;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding-bottom: 1%;

    .red-button {
      padding-top: 1.5%;
    }
  }
  .offer {
    &__big-text {
      padding-top: 5%;
    }

    &__container {
      width: 100%;
    }

    &__group {
      padding-bottom: 15%;
    }
  }
  .form__title {
    font-size: 14px;
  }
  .icon_padding {
    padding-top: 15%;
  }
  .slide {
    width: 95%;
    &__title_bot-border {
      width: 104.4%;
      left: -2.3%;
    }
  }

  .cases {
    height: 490px;
  }
  .square__shadow {
    width: 91%;
  }
  .blind {
    width: 91%;
  }
  .list .red-button {
    width: 45%;
  }
  .team {
    &__position {
      font-size: 12px;
      height: 26.1%;
    }

    &__name {
      font-size: 10px;
    }
  }
  .owl-nav {
    width: 95%;
    left: 0.1%;
  }
  .form__row:last-child {
    margin-right: -4%;
    & .form__mini-text {
      flex-basis: 55%;
    }
  }
  .row_center .red-button {
    flex-basis: 25%;
  }
}

@media screen and (max-width: 992px) {
  .project {
    width: 80%;
    margin-left: 10%;
  }
  .logo__img {
    width: 117px;
    height: 61px;
  }
  .gray-text {
    font-size: 14px;
  }
  header .red-button {
    padding-top: 1.5%;
  }
  .gray-text:nth-child(2) {
    margin-top: 5%;
  }
  .offer {
    &__red-text {
      font-size: 16px;
    }

    &__container {
      width: 100%;
    }
  }
  h1 {
    font-size: 46px;
  }
  .row {
    padding-left: 1%;
    padding-right: 2%;
  }
  .form {
    &__col {
      & .red-button {
        padding-top: 5%;
      }

      &_wide {
        flex-basis: 95%;
      }
    }

    &__text {
      font-size: 14px;
    }

    &_big-brd-rd {
      border-radius: 50px;
      padding-left: 10%;
      padding-right: 10%;
    }

    &_gray-bg {
      padding-right: 2%;
      padding-left: 2%;
      padding-top: 2%;
    }

    &__input {
      margin-top: 5%;
      margin-bottom: 0;
      padding-left: 0;

      &_white {
        &::placeholder {
          text-align: center;
        }
      }
    }

    &__title {
      text-align: center;
      font-size: 14px;
    }

    &__little-text {
      display: inline;
    }
  }
  .offer {
    &__group {
      display: block;
      width: 85%;
    }

    &__big-text {
      width: 70%;
    }

    & .red-button {
      height: 48px;
      margin-top: 5%;
    }
  }
  .red-button[type="submit"] {
    margin-top: 8%;
  }
  body {
    background-image: url("../img/pink-bg-ipad.png");
  }
  .icon_padding-bot {
    padding-bottom: 6.6%;
  }
  .red-bg .big-img {
    bottom: 15%;
  }
  .icon {
    &_padding {
      padding-top: 15%;
    }

    &__img {
      width: 53px;

      &_doc {
        width: 42px;
        height: auto;
      }
    }

    &__text {
      font-size: 12px;
    }
  }

  .owl {
    &-next {
      height: 54px !important;
      width: 54px !important;
    }

    &-prev {
      height: 54px !important;
      width: 54px !important;
    }

    &-nav {
      width: 93%;
      left: 0;
    }

    &-dots {
      top: 91%;
    }
  }
  .slide__col:nth-child(1) {
    margin-right: 4%;
  }
  .slide {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 7%;
    width: 100%;
    height: 900px;

    &__title {
      font-size: 20px;
      &_bot-border{
        width: 111%;
        left: -5.5%;
        padding-left: 5%;
      }
    }

    &__text {
      font-size: 14px;
    }

    &__mini-title {
      font-size: 14px;
    }

    &__price {
      font-size: 24px;
    }

    &__img {
      width: 100% !important;
      height: auto;
    }
  }
  .row_center .red-button {
    font-size: 16px;
    height: 48px;
    padding-top: 1.5%;
    flex-basis: 25%;
  }
  h2 {
    font-size: 24px;
  }
  .square {
    &__text {
      font-size: 12px;
    }

    &__shadow {
      width: 90.5%;
    }
  }
  .blind {
    padding-top: 10%;
    width: 90.5%;

    &__title {
      font-size: 12px;
    }

    &__col {
      font-size: 9px;
    }

    &__link {
      font-size: 10px;
      padding-top: 0;
    }
  }
  .cases {
    height: 460px;
  }
  .icon__text_font-size-18 {
    font-size: 14px;
  }
  .form__title_red {
    margin-top: 10%;
  }
  h3 {
    font-size: 24px;
  }
  .text {
    &__big {
      font-size: 14px;
    }

    &__simple {
      font-size: 14px;
    }
  }
  .text .red-button {
    padding-bottom: 4%;
    padding-top: 4%;
  }
  th:first-child {
    font-size: 24px;
  }
  td {
    font-size: 14px;

    &:first-child {
      font-size: 14px;
    }
  }
  .table {
    &-custom__big_bold {
      font-size: 18px !important;
    }

    &-custom__total {
      font-size: 20px !important;
    }

    &-custom__price {
      font-size: 18px;
    }
  }
  table {
    width: 100%;
  }
  .number {
    margin-right: 3%;

    &__text {
      font-size: 14px;
    }
  }
  .very-big {
    padding-right: 3%;

    &__title {
      font-size: 56px;
    }

    &__h3 {
      padding-left: 0;
    }
  }
  .list {
    padding-left: 3%;

    &__title {
      font-size: 18px;
    }

    li {
      font-size: 14px;
    }

    .red-button {
      width: 75%;
      padding-top: 5%;
      padding-bottom: 5%;
      font-size: 16px;
    }
  }
  .team {
    &__position {
      height: 16.4%;
    }

    &__foto {
      width: auto;
      height: 60%;
    }
  }
  .red-bg_team {
    height: 324px;
  }
  .review {
    &_center {
      display: flex;
      justify-content: center;
    }

    &__img {
      display: block;
      margin: 0 auto;
    }

    &_show {
      display: block;
    }

    &_hide {
      display: none;
    }

    &__img_left {
      float: none;
    }

    &__img {
      padding-bottom: 5%;
    }

    &_padding-top {
      padding-top: 0;
    }
  }
  .menstruation-bg-2 {
    background-size: cover;
  }
  .footer-contacts__contact {
    font-size: 30px;
  }
  footer {
    padding-bottom: 5%;

    & h2 {
      font-size: 19px;
      margin-top: 7%;
    }

    & .form {
      &__mini-text {
        width: 50%;
        margin-top: 3%;
      }

      &__row {
        margin-bottom: 0;
        width: 90%;

        &:last-child {
          padding-right: 0;
        }

        & .form__input:nth-child(2) {
          margin-left: 2%;
        }
      }

      &__input {
        margin-top: 2%;
      }
    }

    & .red-button[type="submit"] {
      margin-top: 2%;
      margin-left: 2%;
      border-radius: 10px;
      font-size: 20px;
    }
  }
  .row_center .red-button {
    padding-top: 1.2%;
  }
  .text {
    &__container {
      display: block;
    }

    &__simple {
      padding-bottom: 0;
    }

    &__img {
      margin-bottom: 10%;
    }
  }
}
@media screen and (max-width: 960px) {
  .slide {
    height: 850px;
  }
  .form {
    & .red-button {
      margin-top: 5%;
    }
  }
}

@media screen and (max-width: 900px) {
  .cases {
    height: 430px;
  }
  .square__shadow {
    width: 90%;
  }
  .blind {
    width: 90%;
  }
  .team {
    &__name {
      font-size: 8px;
    }

    &__position {
      font-size: 10px;
      height: 10%;
    }

    &__foto {
      height: 55%;
    }
  }
  .red-bg_team {
    height: 276px;
  }
  .form__row:last-child .form__mini-text {
    flex-basis: 45%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 855px) {
  .row_center .red-button {
    flex-basis: 30%;
  }
  .cases {
    height: 410px;
  }
  .red-bg_team {
    height: 275px;
  }
  .slide {
    height: 800px;
  }
  .gray-text {
    font-size: 12px;
  }
  .contacts {
    margin-top: -0.5%;
  }
}

@media screen and (max-width: 834px) {
  .cases {
    height: 400px;
  }
  .square__shadow {
    width: 89%;
  }
  .blind {
    width: 89%;
  }
  .row_center .red-button {
    padding-top: 1.5%;
  }
  .team__foto {
    height: 50%;
  }
  .red-bg_team {
    height: 258px;
  }
}
@media screen and (max-width: 823px) {
  .cases {
    height: 380px;
  }
  .form__row:last-child .form__mini-text {
    padding-right: 3%;
  }
}

@media screen and (max-width: 801px) {
  .cases {
    height: 380px;
  }
  .owl-nav {
    width: 92%;
  }
  .slide {
    height: 770px;
  }
  .red-bg_team {
    height: 257px;
  }
  .review__img_width {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .text .red-button {
    padding-left: 4%;
    padding-right: 4%;
  }
  .icon {
    &_padding {
      padding-top: 19%;
    }
  }
  .owl-nav {
    width: 91%;
  }
  .square__shadow {
    width: 88%;
  }
  .blind {
    width: 88%;
    padding-top: 5%;
  }
  header .red-button {
    padding-top: 1.7%;
  }
  .row_center .red-button {
    padding-top: 1.5%;
  }
  .slide {
    height: 750px;
    &__price {
      font-size: 22px;
    }

      &_bold {
        font-size: 22px;
      }
  }
  .cases {
    height: 360px;
  }
  .team {
    &__position {
      height: 10.1%;
    }

    &__foto {
      height: 45%;
    }
  }
  .red-bg_team {
    height: 249px;
  }
  .gray-text {
    font-size: 10px;
  }
  .contacts {
    margin-top: -1%;
  }
}

@media screen and (max-width: 736px) {
  .team {
    &__name {
      font-size: 6px;
    }
  }
  .red-bg_team {
    height: 244px;
  }
  .cases {
    height: 340px;
  }
  .team__position {
    height: 10.3%;
  }
  .row_center .red-button {
    flex-basis: 35%;
  }
}

@media screen and (max-width: 667px) {
  .offer {
    & h1 {
      font-size: 42px;
    }

    &__big-text {
      font-size: 18px;
    }

    &__mimi-text {
      font-size: 18px;
    }

    & .red-button {
      padding-top: 4%;
    }
  }
  header {
    padding-bottom: 3%;

    & .red-button {
      padding-top: 2.2%;
    }
  }
  .tile__text {
    font-size: 16px;
  }
  .icon_padding {
    padding-top: 22%;
  }
  .slide__price_bold {
    font-size: 18px;
  }
  .cases {
    height: 310px;
  }
  .square__shadow {
    width: 86%;
    height: 92%;
  }
  .blind {
    width: 86%;
    height: 92%;

    &__col {
      font-size: 8px;
    }
  }
  .text__img {
    width: 45%;
  }
  .form_big-brd-rd {
    padding-left: 5%;
    padding-right: 5%;
  }
  .number__text {
    font-size: 12px;
  }
  .very-big__title {
    font-size: 48px;
  }
  .team__foto {
    height: 40%;
  }
  .red-bg_team {
    height: 226px;
  }
  .review {
    &__img {
      &_width {
        width: 45%;
      }
    }
  }
  .table-custom__price {
    font-size: 16px;
  }
  .gray-text {
    font-size: 8px;
  }
  .contacts__mail {
    position: relative;
    bottom: 10%;
  }
  .contacts {
    margin-top: -1.5%;
  }
}
@media screen and (max-width: 640px) {
  .offer {
    &__mimi-text {
      font-size: 16px;
    }
    & h1 {
      font-size: 38px;
    }
    & .red-button {
      padding-top: 5%;
    }
  }
  .row_center .red-button {
    padding-top: 2%;
  }
  header {
    padding-bottom: 2%;
  }
  .tile__img {
    height: 150px;
  }
  .slide {
    height: 710px;
    &__couple:first-child {
      padding-right: 1%;
    }
  }
  .owl-nav {
    width: 90%;
  }
  .cases {
    height: 290px;
  }
  .blind__col {
    font-size: 6px;
  }
  .red-bg_team {
    height: 225px;
  }
  .review__img {
    padding-left: 3%;
  }
}

@media screen and (max-width: 576px) {
  body {
    background-image: url("../img/pink-bg-mobile.png");
  }
  header {
    padding-bottom: 10%;
  }
  h2 {
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 24px;
  }
  .logo__img {
    width: 75px;
    height: 40px;
  }
  header .red-button {
    padding-top: 2.5%;
  }
  .gray-text {
    font-size: 12px;
  }
  .contacts {
    &__mail {
      font-size: 14px;
    }

    &__number {
      font-size: 16px;
    }
  }
  .gray-text:nth-child(2) {
    margin-top: 0;
  }
  .offer {
    &__red-text {
      font-size: 14px;
    }

    &__big-text {
      font-size: 14px;
      padding-top: 0;
    }

    &__mimi-text {
      font-size: 14px;
    }

    & .red-button {
      padding-top: 3%;
    }
  }
  .row {
    padding-right: 3%;
    padding-left: 3%;

    &_sp-around .big-img {
      padding-top: 10%;
      padding-bottom: 10%;
    }
  }
  .red-button {
    &[type="submit"] {
      padding-bottom: 5%;
      padding-top: 5%;
    }

    &_padding {
      width: 80%;
      margin-top: 10%;
    }
  }
  .row_center .red-button {
    flex-basis: 40%;
  }
  .icon {
    flex-basis: 100%;

    &__text {
      font-size: 16px;
    }

    &__text_width_70 {
      width: 100%;
    }

    &_padding {
      padding-top: 5%;
      padding-bottom: 5%;
    }

    &__img_doc {
      margin-right: 10%;
    }

    &-group {
      display: block;

      & .icon {
        padding-bottom: 5%;
      }
    }
  }
  .red-bg {
    height: 870px;

    & .big-img {
      bottom: 5%;
    }

    &_team {
      height: 410px;
    }
  }
  .logo__img {
    width: 75px;
  }
  .form {
    & .red-button {
      margin-top: 5%;
    }
    &__row {
      & .red-button {
        margin-left: 0;
      }
      & input[type="submit"] {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    &_big-brd-rd {
      margin-top: 5%;
      & input[type="submit"] {
        padding-top: 1.5%;
      }
    }
    &__col .red-button input {
      margin-bottom: 25%;
    }
    &__row {
      display: block;

      & .form__input {
        width: 100%;
        padding-left: 0;
        margin-bottom: 5%;

        &::placeholder {
          text-align: center;
        }
      }
    }

    &__col .form__mini-text_gray {
      padding-bottom: 5%;
    }

    &_gray-bg {
      width: 90%;
      margin: 0 auto;
      & input[type="submit"] {
        padding-top: 2%;
      }
    }

    &__input {
      padding-top: 4%;
      padding-bottom: 4%;
    }

    &__title_red {
      font-size: 18px;
    }

    &_white-bg {
      padding-left: 10%;
      padding-right: 10%;
    }

    &_big-brd-rd {
      display: block;
    }

    &__little-text {
      font-size: 14px;
    }

    & h2 {
      text-align: center;
    }

    &__text {
      text-align: center;
    }
  }
  .icon_padding-bot:last-child {
    padding-bottom: 15%;
  }

  .red-bg_height-300 .col-md-3 {
    height: 200px;
    position: relative;
    bottom: 5%;
  }
  .slide {
    height: 1400px;

    &__row {
      display: block;
    }

    &__title {
      padding-top: 5%;
      padding-bottom: 5%;
      margin-bottom: 0;
      &_bot-border {
        padding-top: 2%;
        padding-bottom: 2%;
      }
    }

    &__mini-title {
      width: 90%;
    }

    &__couple:first-child {
      padding-right: 3%;
    }

    &__price {
      font-size: 20px;

      &_bold {
        font-size: 18px;
      }
    }

    &__img {
      margin-left: 2%;
    }

    &__group {
      &:last-child {
        border-top: 1px solid #d3d3d3;
        padding-top: 5%;
      }

      &_line {
        border-bottom: none;
      }
    }
  }
  .slide-one {
    & .owl-stage-outer {
      padding-bottom: 15%;
    }
  }
  .owl {
    &-dots {
      left: 40%;
      top: 91%;
    }

    &-nav {
      width: 80%;
      bottom: 10.5%;
      left: 4%;
    }
  }
  .square {
    padding-bottom: 5%;

    &__shadow {
      width: 94.5%;
      height: 94.2%;
    }
  }
  .blind {
    width: 94.5%;
    height: 94.2%;
    padding-top: 15%;

    &__title {
      font-size: 14px;
      padding-bottom: 4%;
    }

    &__col {
      font-size: 12px;
    }

    &__link {
      font-size: 14px;
      padding-top: 3%;
    }
  }
  .cases {
    height: 810px;
  }
  .menstruation-bg {
    background: radial-gradient(circle, rgba(244, 214, 216, 1) 0%, rgba(235, 174, 176, 0) 100%);
  }
  .text {
    &__big {
      font-size: 16px;
    }

    &__img {
      width: 45%;
      max-width: 142px;
    }

    &__container {
      justify-content: center;
    }
  }
  .text {
    .red-button {
      font-size: 14px;
      display: block;
      margin: 0 auto;
    }
  }
  .mobile-none {
    display: none;
  }
  tr {
    &:nth-child(1) {
      border-bottom: 1px solid #b8b8b8;
    }

    &:nth-child(2) {
      border-bottom: none;
    }
  }
  th {
    color: #404041;
    font-size: 14px;
    font-family: GothamPro;
    text-transform: none;
    padding-left: 3%;
    vertical-align: top;

    &:first-child {
      width: 5%;
    }
  }
  tr {
    &:nth-child(2) {
      height: 50px;

      & td {
        padding-bottom: 0;
      }
    }
  }
  td {
    padding-bottom: 5%;

    &:first-child {
      width: 5%;
    }
  }
  .table {
    &-custom {
      &__big_bold {
        font-size: 14px !important;
      }

      &__total {
        font-size: 16px !important;
        vertical-align: center;
      }

      &__price {
        vertical-align: center;
        font-size: 16px;
      }

      &__dot {
        height: 20px;
        width: 20px;
      }
    }

    &__red {
      color: #ed1c24;
      font-family: GothamProBold;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
  .mobile-on {
    display: block !important;
  }
  .modal-window {
    width: 95%;
    left: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;

    &__top {
      height: 50px;
    }

    & input {
      width: 100%;
      padding-top: 3%;
      padding-bottom: 3%;
    }

    & h3 {
      font-size: 18px;
    }

    & input[type=submit] {
      padding-top: 4%;
      padding-bottom: 4%;
    }
  }
  .slide-two {
    display: block !important;
    margin-top: 20%;

    & .owl-stage-outer {
      z-index: 3;
    }

    & .owl-nav {
      top: -3%;
      z-index: 2;
    }
  }

  .mobile-price {
    text-align: center;
    font-size: 36px;
    font-family: GothamProBold;
    color: #ed1c24;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 10%;
  }
  .number__text {
    font-size: 18px;
  }
  .very-big {
    border: none;
    border-bottom: 2px solid #b8b8b8;
    padding-bottom: 5%;

    &__title {
      font-size: 40px;
      text-align: center;
    }

    &__h3 {
      text-align: center;
    }
  }
  .list {
    padding-top: 5%;

    &__title {
      font-size: 16px;
      text-align: center;
    }

    & ul {
      padding-inline-start: 0;
      margin-left: 10%;
    }

    & li {
      font-size: 35px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 20px;
    }

    & li span {
      font-size: 14px;
      position: relative;
      top: -6px;
    }

    .red-button {
      margin: 0 auto;
      padding-top: 2%;
      padding-bottom: 2%;
      width: 50%;
    }
  }
  .team {
    padding-top: 7.2%;

    &__name {
      font-size: 18px;
    }

    &__position {
      font-size: 20px;
      height: 60px;
    }

    &__foto_container {
      height: 252px
    }

    &__foto {
      height: 100% !important;
      width: auto !important;
    }
  }
  .footer-contacts {
    display: block;

    &__icon {
      display: block;
      margin: 0 auto;
    }

    &__icon-container {
      margin-right: 0;
      margin-top: 2%;
      margin-bottom: 2%;
    }

    &__contact {
      width: 100%;
      font-size: 24px;
      display: inline-block;
      text-align: center;
    }
  }
  footer {
    & h2 {
      font-size: 18px;
      margin-top: 2%;
      margin-bottom: 0;
    }

    & .form__row {
      width: 100%;
      &:last-child {
        margin-top: 5%;
      }
      & .form__input {
        padding-top: 3%;
        padding-bottom: 3%;
        margin-bottom: 2%;

          &:nth-child(2) {
            margin-left: 0;
          }
      }
    }

    & .red-button[type="submit"] {
      width: 50%;
      margin: 0 auto;
      display: block;
      margin-top: 5%;
      height: 50px;
      padding-top: 2%;
    }

    & .form__mini-text {
      width: 100%;
    }
  }
  .align-left {
    text-align: center;
  }
  .number {
    padding-bottom: 0;
  }
  .review {
    &__img {
      max-width: 303px;
    }
    &-slider {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .slider-team {
    width: 100vw;
    margin-left: -2.7%;
  }
  .review-slider {
    width: 100vw;
    margin-left: -2.7%;
  }
  .other {
    margin-top: 15%;
  }
  .red-bg_team {
    height: 412px;
  }
  input[type="submit"] {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
@media screen and (max-width: 414px) {
  header .red-button {
    padding-top: 3%;
  }
  .gray-text {
    margin-right: 0;
    font-size: 12px;
  }
  .red-bg {
    height: 750px;
    &_height-300 .col-md-3 {
      height: 150px;
      bottom: 3%;
    }
    &_team {
      height: 401px;
    }
  }
  .slide {
    height: 1240px;
    &__title_bot-border {
      font-size: 14px;
    }
  }
  .owl {
    &-dots {
      left: 35%;
      top: 91%;
    }

    &-nav {
      width: 75%;
      left: 2%;
    }
  }
  .square {
    &__shadow {
      width: 93%;
    }
  }
  .blind {
    width: 93%;
    padding-top: 10%;
  }
  .cases {
    height: 590px;
  }
  .slider-team {
    margin-left: -3.9%;
  }
  .review-slider {
    margin-left: -3.9%;
  }
  .other {
    left: 35%;
    margin-top: 12%;
  }
  .owl-nav {
    width: 80%;
  }
  .row_center .red-button {
    flex-basis: 60%;
    padding-top: 2.5%;
  }
  .form {
    &_big-brd-rd {
      margin-top: 10%;
    }
  }
  .offer .red-button {
    padding-top: 4%;
  }
}
@media screen and (max-width: 411px) {
  .cases {
    height: 580px;
  }
  .red-bg_team {
    height: 401px;
  }
  .offer .red-button {
    padding-top: 4.5%;
  }
}
@media screen and (max-width: 375px) {
  header .red-button {
    padding-top: 4%;
  }
  .red-bg_height-300 .col-md-3 {
    bottom: 5%;
  }
  .red-bg {
    height: 650px;
    &_team {
      height: 398px;
    }
  }
  .owl-nav {
    left: 1%;
  }
  .row_center .red-button {
    padding-top: 3%;
  }
  .square__shadow {
    width: 91.5%;
  }
  .blind {
    width: 91.5%;
    padding-top: 7%;
  }
  .cases {
    height: 530px;
  }
  .other {
    left: 35%;
  }
  .review-slider {
    margin-left: -4.3%;
  }
  .slider-team {
    margin-left: -4.3%;
  }
  .list .red-button {
    width: 55%;
  }
  .gray-text {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .slide {
    height: 1250px;
  }
  .owl {
    &-nav {
      left: 0.5%;
    }
    &-dots {
      left: 33%;
    }
  }
  .cases {
    height: 500px;
  }
  .other {
    margin-top: 11%;
  }
  .red-bg_team {
    height: 397px;
  }
  .review-slider {
    margin-left: -4.5%;
  }
  .slider-team {
    margin-left: -4.5%;
  }
  footer .red-button[type="submit"] {
    padding-top: 3%;
    width: 55%;
  }
  .row_center .red-button {
    flex-basis: 65%;
  }
}

@media screen and (max-width: 320px) {
  .logo__img {
    width: 65px;
    height: auto;
  }
  header .red-button {
    padding-top: 0.9%;
  }
  .offer .red-button {
    padding-top: 5.5%;
  }
  .red-bg {
    height: 600px;
  }
  .red-bg_height-300 .col-md-3 {
    height: 150px;
  }
  .slide {
    height: 1240px;
  }
  .owl {
    &-dots {
      left: 31%;
      top: 91.5%;
    }

    &-nav {
      width: 80%;
      bottom: 10%;
      left: -1%;
    }
  }
  .row_center .red-button {
    padding-top: 3%;
    flex-basis: 70%;
  }
  .square {
    padding-bottom: 5%;

    &__shadow {
      width: 90.2%;
    }
  }
  .blind {
    width: 90.2%;
    padding-top: 5%;
    &__col {
      font-size: 10px;
    }
  }
  .cases {
    height: 440px;
  }
  h2 {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .other {
    left: 33%;
  }
  .icon-group .icon {
    padding-bottom: 10%;
  }
  .team {
    padding-top: 13.5%;
  }
  .footer-contacts__icon-container {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  footer {
    & .red-button[type="submit"] {
      width: 80%;
    }
  }
  .red-bg_team {
    height: 414px;
  }
  .review-slider {
    margin-left: -5.2%;
  }
  .slider-team {
    margin-left: -5.2%;
  }
  .list .red-button {
    width: 60%;
  }
  .gray-text {
    font-size: 8px;
  }
  .contacts {
    margin-top: -3%;
  }
}

@media screen and (min-width: 2048px) {
  header .red-button {
    padding-top: 0.7%;
  }
  .offer .red-button {
    padding-top: 2.5%;
  }
  .blind {
    width: 95.3%;
    height: 92.7%;
  }
  .cases {
    height: 960px;
  }
  .square__shadow {
    width: 95.3%;
  }
}

@media screen and (min-width: 2560px) {
  .offer .red-button {
    padding-top: 2.1%;
  }
  .icon_padding {
    padding-top: 7%;
  }
  .red-bg .big-img {
    bottom: 155%;
  }
  .slide {
    height: 1200px;
  }
  .blind {
    width: 96.2%;
    height: 92.5%;
  }
  .square__shadow {
    width: 96.2%;
  }
  .cases {
    height: 1250px;
  }
  .row_padding-top-50 {
    padding-top: 15px;
  }
  .team__position {
    height: 8.7%;
  }
  .red-bg .big-img {
    left: 3%;
  }
  .owl-nav {
    left: 18.5%;
  }
  .red-button {
    &:after {
      margin-top: -10%;
    }
  }
}

@media screen and (max-height: 768px) {
  .modal-window {
    top: 10%;
  }
}
@media screen and (max-height: 414px) {
  .modal-window {
    top: 5%;
  }
  .callback {
    top: 70%;
  }
  .up {
    top: 85%
  }
}
@media screen and (max-height: 411px) {
  .modal-window {
    top: 3%;
  }
}
@media screen and (max-height: 375px) {
  .modal-window {
    top: 2%;
    width: 60%;
    left: 21%;
    &__top {
      height: 40px;
      padding-top: 5%;
      margin-bottom: 5%;
    }
  }
}
@media screen and (max-height: 360px) {
  .modal-window {
    top: 1%;
  }
}
@media screen and (max-height: 320px) {
  .callback {
    top: 60%;
  }
  .up {
    top: 80%
  }
}


